body {
    padding: 10px;
}

.user {
    padding-right: 16px;
}

p.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subrow {
    border: none;
    text-align: right;
    color: grey;
    font-size: 11px;
    padding-top: 0px;
}